@model Users

@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anonymous Digitizing provide you to quality embroidery and vector design services">
    <meta name="keywords" content="embroidery, vector, digitizing, embroidery design, vector design">
    <meta name="author" content="Anonymous Digitizing">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link href="~/css/themes/lite-purple.min.css" rel="stylesheet">
</head>
<body>
    <div class="auth-layout-wrap">
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4">
                            <div class="auth-logo text-center mb-4"><img src="~/images/logo.png" alt=""></div>
                            <div id="data">
                                <h1 class="mb-3 text-18">Sign Up</h1>
                                <form asp-area="admin" asp-controller="registration" asp-action="save" id="FormLogin" autocomplete="off"
                                      data-ajax-begin="OnFormBegin" data-ajax-complete="OnFormComplete"
                                      data-ajax-failure="OnFormFailure" data-ajax-success="OnFormSuccess"
                                      data-ajax="true" data-ajax-method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="email">Full name</label>
                                        <input asp-for="Fullname" class="form-control form-control-rounded" type="text">
                                        <span asp-validation-for="Fullname" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Phone no</label>
                                        <input asp-for="PhoneNumber" class="form-control form-control-rounded" type="tel">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input asp-for="EmailAddress" class="form-control form-control-rounded" type="email" autocomplete="new-email">
                                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input asp-for="Password" class="form-control form-control-rounded" id="password" type="password" autocomplete="new-password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Confrim Password</label>
                                        <input asp-for="ConfirmPassword" class="form-control form-control-rounded" id="password" type="password">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Profile photo (optional)</label><br />
                                        <input asp-for="File" class="form-control" type="file">
                                        <span asp-validation-for="File" class="text-danger"></span>
                                    </div>
                                    <button class="btn btn-rounded btn-primary btn-block mt-2 msg-area">Register</button>
                                </form>
                                <div class="mt-3 text-center">
                                    <a class="text-muted" href="@(ViewBag.WebsiteURL)">
                                        <u>Already have an account? Login here.</u>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/js/plugins/jquery.validate.js"></script>
    <script src="~/js/plugins/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/plugins/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/plugins/notify.js"></script>

</body>
</html>