@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@await Html.PartialAsync("BreadCrumb")

@*<div class="row">
    <div class="col-lg-6 col-md-12">
        <!-- CARD ICON-->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-icon mb-4">
                    <div class="card-body text-center">
                        <i class="i-Data-Upload"></i>
                        <p class="text-muted mt-2 mb-2">Firqa</p>
                        <p class="text-primary text-24 line-height-1 m-0">2</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-icon mb-4">
                    <div class="card-body text-center">
                        <i class="i-Add-User"></i>
                        <p class="text-muted mt-2 mb-2">Members</p>
                        <p class="text-primary text-24 line-height-1 m-0">3</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-icon mb-4">
                    <div class="card-body text-center">
                        <i class="i-Money-2"></i>
                        <p class="text-muted mt-2 mb-2">Providers</p>
                        <p class="text-primary text-24 line-height-1 m-0">4</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-icon-big mb-4">
                    <div class="card-body text-center">
                        <i class="i-Money-2"></i>
                        <p class="text-muted mt-2 mb-2">Users</p>
                        <p class="line-height-1 text-title text-18 mt-2 mb-0">1</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-icon-big mb-4">
                    <div class="card-body text-center">
                        <i class="i-Gear"></i>
                        <p class="text-muted mt-2 mb-2">Roles</p>
                        <p class="line-height-1 text-title text-18 mt-2 mb-0">2</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-icon-big mb-4">
                    <div class="card-body text-center">
                        <i class="i-Bell"></i>
                        <p class="text-muted mt-2 mb-2">Documents</p>
                        <p class="line-height-1 text-title text-18 mt-2 mb-0">0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card o-hidden mb-4">
            <div class="card-header d-flex align-items-center border-0">
                <h3 class="w-50 float-left card-title m-0">New Users</h3>
                <div class="dropdown dropleft text-right w-50 float-right">
                    <button class="btn bg-gray-100" id="dropdownMenuButton1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="nav-icon i-Gear-2"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1"><a class="dropdown-item" href="#">Add new user</a><a class="dropdown-item" href="#">View All users</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div>
                <div class="table-responsive">
                    <table class="table text-center" id="user_table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
             
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Sameer ullah</td>
                                <td>sameerullah@fulcrum-pk.com</td>
                                <td><span class="badge badge-success">Active</span></td>
                                <td><a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Maaz nasir</td>

                                <td>maaz.nasir@fulcrum-pk.com</td>
                                <td><span class="badge badge-success">Active</span></td>
                                <td><a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@